* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    color: #333;
    letter-spacing: 0.025em;
    font-size: 2rem;
    font-weight: 900;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

h2 {
    color: #333;
    letter-spacing: 0.05em;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: line-through;
}

h3 {
    color: #333;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
}

p {
    font-weight: 100;
    font-size: 0.85em;
    line-height: 1.5em;
}

a.btn {
    color: #333;
    text-decoration: none;
    background-color: #ffff66;
    transition: 0.5s ease all;
}

a.btn:hover {
    color: white;
}

a.btn:focus {
    color: white;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.btn:hover {
    background-color: #333333;
    transition: 0.5s ease all;
}

#button-element a {
    padding-left: 2rem;
    padding-right: 2rem;
}

a.btn2 {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    background-color: white;
    transition: 0.5s ease all;
}

a.btn2:hover {
    color: white;
}

a.btn2:focus {
    color: white;
}

.btn2 {
    display: inline-block;
    text-align: center;
    padding: 1rem 1.5rem;
    position: relative;
}

.btn2:hover {
    background-color: #333333;
    transition: 0.5s ease all;
}

nav a {
    color: #333333;
    text-decoration: none;
    display: block;
    transition: color 0.5s ease-in-out;
    font-weight: 100;
}

nav a:focus {
    color: #333333;
}

nav h2 {
    padding-top: 1.5rem;
}

.content-container {
    padding: 2rem;
    margin: 0;
}

.content {
    float: left;
    width: 100%;
    padding-bottom: 3rem;
}

.section-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #333;
}

.section-element {
    border-top: 1px solid #333;
    padding-bottom: 1.5rem;
}

.in-text-link {
    text-decoration: none;
    color: #666666;
    font-weight: 800;
    font-size: 1em;
}

.in-text-link:hover {
    color: #AAAAAA;
    transition: color 0.5s ease-in-out;
    text-decoration: line-through;
}

input {
    width: 50%;
}

/*----------PRODUCT LISTING----------*/

.product-image img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

/*----------GRID STRUCTURE----------*/

.grid-container {
    display: flex;
    padding-bottom: 1rem;
}

.grid-col-12of12 {
    width: 100%;
}

.grid-col-6of12 {
    width: 50%;
}

.grid-col-4of12 {
    width: 33.3333333%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.grid-col-3of12 {
    width: 25%;
}

/*----------ABOUT PAGE----------*/

#about-us {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#about-us img {
    width: 100%;
    padding-bottom: 1rem;
}

#about-us h1 {
    text-align: center;
}

#about-us-content {
    padding-top: 1.5rem;
}

#who {
    padding-bottom: 1rem;
}

#what {
    padding-bottom: 1rem;
}

#our-values {
    padding-bottom: 1rem;
}

/*----------NAVIGATION BAR----------*/

.logo-container {
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px black;
}

.nav-container {
    text-align: center;
}

/* Links inside the navbar */

.nav-container a {
    /*    float: right;*/
    position: relative;
    text-align: center;
    color: #afafaf;
    padding: 14px 31.2px;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    text-decoration: none;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid #FFF;
}

/* Underline on mouse-over */

.nav-container a:hover {
    color: black;
    border-bottom: 1px solid #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

ul li {
    margin 0 6px;
    list-style-type: none;
    display: inline-block;
}

/*----------LANDING PAGE----------*/

.landing-about {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 3rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5rem;
}

ul.product-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul.product-list li {
    display: inline-block;
    position: relative;
    margin-bottom: 5rem;
}

ul.product-list li img {
    width: 100%;
    display: block;
}

ul.product-list li:nth-child(1) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.product-list li:nth-child(1) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

ul.product-list li:nth-child(2) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.product-list li:nth-child(2) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

ul.product-list li:nth-child(3) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.product-list li:nth-child(3) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

span.text-content h2,
span.text-content p {
    text-align: center;
    vertical-align: middle;
    color: #FFFDE5;
    text-decoration: none;
}

span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

ul.product-list li:hover span.text-content {
    opacity: 1;
}

.landing-featured {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 7rem;
}

.landing-journal {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 7rem;
}

.landing-contact {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding-top: 7rem;
}

#feedback {
    padding-top: 1.5rem;
}

#feedback a{
    text-decoration: none;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease-in-out;
}

#feedback a:hover {
    color: #afafaf;
    text-decoration: line-through;
}
